#navbar {
  background-color: midnightblue; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  font-family: courier, monospace;
  overflow: hidden;
}

#navbar a.link {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

button {
  background-color: midnightblue;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding-left: 15px;
  text-decoration: none;
  outline-color: #333;
  outline-style: none;
  border: none;
  font-size: 16px;
  padding: 15px;
  font-family: courier, monospace;
}

button:hover {
  background-color: cornsilk;
  color: #912B10;
  font-weight: bold;
  border-bottom: 3px solid olivedrab;
}

button.active{
  border-bottom: 3px solid olivedrab;
}

#navbar a.link:hover {
  background-color: cornsilk;
  color: #912B10;
  font-weight: bold;
  border-bottom: 3px solid olivedrab;
}

#navbar a.link.active{
  border-bottom: 3px solid olivedrab;
}

body {
  margin: 0;
  background-color: steelblue;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.intro {
  margin-left: 60px;
  font-family: serif;
}

.intro2 {
  margin-left: 60px;
  font-family: Georgia, serif;
  margin-right: 650px;
}

.values {
  font-family: serif;
}

.founder{
  text-align: right;
  margin-right: 100px;
  font-family: serif;
}

.name{
  margin-left: 800px;
  margin-right: 60px;
  font-family: Georgia, serif;
}

div{
  display: flex; justify-content: space-around;
  flex-wrap: wrap;
}

.support{
  margin-left: 0px;
  margin-right: 500px;
  font-size: 50px;
  color: white;
  flex-basis: 5%;
  background-color: black;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 200px;
  padding-right: 200px;
  display: block;
  text-align: center;
}

.connect{
  flex-basis: 5%;
  margin-right: 0px;
  margin-left: 0px;
  padding: 45px;
  font-size: 50px;
  background-color: Black;
  color: white;
}

.us{
  padding-left: 50px;
  margin-left: 45px;
  margin-right: 500px;
  font-size: 50px;
  background-color: Black;
  color: white;
  flex-basis: 10.5%;
}
